* {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  display: flex;
  flex-direction: column;
}

.header, .main-section {
  display: flex;
  background-color: #1F2937;
}
.header {
  padding: 16px 10vw;

  justify-content: space-between;
  align-items: center;
}
.header ul {
  display: flex;
  list-style: none;
  gap: 16px;
}
.header a {
  text-decoration: none;
}
.logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bold;
}
.subtext {
  font-size: 16px;
  color: #e5e7eb;
}

.herotext {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
}


.main-section {
  padding: 64px 10vw;
  gap: 16px;
  min-height: 400px;
}
.main-container {
  flex: 1;
  align-self: center;
}
.img-container {
  flex: 1;
  background-color: #6d747e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-btn {
  background-color: #3882F6;
  color: white;
  font-weight: 500;
  padding: 8px 32px;
  border-radius: 8px;
  border: none;

  margin-top: 8px;
}

.info-section {
  display: flex;
  flex-direction: column;
  padding: 24px 15vw 48px;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.info-title {
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
}
.info-box {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}
.info {
  flex: 0 0 200px;
}
.info-img {
  width: auto;
  height: 150px;
  border: 4px solid #3882F6;
  border-radius: 8px;
}
.infotext{
  color: #6c6f77;
}


.quote-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #e9e5e6;
  padding: 75px 20vw;
}
.quote {
  font-size: 24px;
  color: #1f2937;
  font-weight: 300;
}
.by {
  padding-left: auto;
  align-self: flex-end;
  font-weight: 500;
}


.signup-section {
  padding: 75px 15vw;
}
.signup-box {
  background-color: #3882F6;
  padding: 16px 10%;
  border-radius: 8px;
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.signup-box .herotext {
  font-size: 24px;
}
.signup-box .signup-btn {
  border: 2px solid white;
  padding: 8px 24px;
  flex: 0 0 auto;
}
.signup-box .text {
  flex: 1 1 auto;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #1F2937;
  color: white;
  padding: 30px;
}